In [2]:
simplelist = [19, 242, 14, 152, 142, 1000]
print(sum(simplelist)/len(simplelist))

261.5

In [4]:
import pandas as pd
pd.__version__
print(pd.__name__)

pandas

In [12]:
# Задание 2.4
# В аптеку поступают партии лекарств. 
# Их названия находятся в списке names, количество единиц товара находится в списке counts.

# Например:

# names = ['chlorhexidine', 'cyntomycin', 'afobazol'] counts = [15, 18, 7]

# Напишите функцию create_medications(names, counts), 
# которая создает Series medications, 
# индексами которой являются названия лекарств names, 
# а значениями - их количество в поставке counts.

# А также напишите функцию get_percent(medications, name), 
# которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

# Примечание. Не забудьте ипортировать библиотеки.

# Пример:
import pandas as pd

def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names)
    display(medications)
    return medications

def get_percent(medications, name):
    return medications[name] / sum(medications[:]) * 100

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

chlorhexidine    15
cyntomycin       18
afobazol          7
dtype: int64

37.5

In [28]:
# ЗАДАНИЕ 3.5
# Вы работаете аналитиком в компании ScienceYou. 
# Ваша задача — проанализировать чистую прибыль.

# Доходы (income), расходы (expenses) и годы (years), 
# соответствующие им, предоставлены вам в виде списков.

# Например:

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
# Создайте функцию create_companyDF(income, expenses, years), 
# которая возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, 
# соответствующими годам рассматриваемого периода.

# Пример такого DataFrame представлен ниже.


#     Income  Expenses
# 2018    478     156
# 2019    512     130
# 2020    196     270
# Также напишите функцию get_profit(df, year), 
# которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

# Примечание. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

# Примечание. Не забудьте ипортировать библиотеки.
import pandas as pd
def create_companyDF(income, expenses, years):
    create_companyDF = pd.DataFrame({'Income': income, 'Expenses': expenses}, index = years)
    return create_companyDF

def get_profit(df, year):
    # try:
    #     profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    # except KeyError:
    #     return None
    # return profit
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit = None
    return profit




get_profit(create_companyDF(income, expenses, years), 2017)

In [29]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [30]:
import pandas as pd
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

In [88]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
print(melb_data.loc[90, 'Date'])
print(round(melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize']))

display(melb_data.head())
# melb_data.tail(7)
# melb_data.shape
# print(melb_data.info())
# melb_data['Car'] = melb_data['Car'].astype('int64')
# melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
# melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
# melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
# melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
# print(melb_data.info())
# melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
# melb_data.describe()
# melb_data['Type'].value_counts(normalize=True)
# print(melb_data['CouncilArea'].info())

10/09/2016
3

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"