In [26]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [27]:
DBNAME = 'skillfactory'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [28]:
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
    .format(username=USER,
    password=PASSWORD,
    ipaddress=HOST,
    port=PORT,
    dbname=DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

In [29]:
n = 10
query = f'''select * 
            from sql.pokemon 
            limit {n}
         '''

In [35]:
# Используя LEFT JOIN, выведите список уникальных названий команд, содержащихся в таблице matches. 
# Отсортируйте список в алфавитном порядке.

query = f'''select
 distinct t.long_name

from
    sql.matches as m
    
left join 
    sql.teams as t on m.home_team_api_id = t.api_id or m.away_team_api_id = t.api_id
    
order by t.long_name
         '''

In [36]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

In [37]:
df = pd.read_sql_query(query, connection)
df

C:\Users\u1\AppData\Local\Temp\ipykernel_2484\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

                   long_name
0       1. FC Kaiserslautern
1                 1. FC Köln
2             1. FC Nürnberg
3            1. FSV Mainz 05
4                   Aberdeen
..                       ...
284             Wisła Kraków
285  Wolverhampton Wanderers
286     Xerez Club Deportivo
287           Zagłębie Lubin
288        Zawisza Bydgoszcz

[289 rows x 1 columns]

Таблица teams с данными о командах
Название столбца
Содержимое столбца
id	id команды
api_id	ключ на таблицу matches
long_name	полное название команды
short_name	сокращённое название команды

Таблица matches с данными о матчах
Название столбца
Содержимое столбца
id	id матча
season	сезон
date	дата матча
home_team_api_id	api_id домашней команды, ключ на таблицу teams
away_team_api_id	api_id гостевой команды, ключ на таблицу teams
home_team_goals	количество голов домашней команды
away_team_goals	количество голов гостевой команды

In [ ]:
# Используя LEFT JOIN, напишите запрос, который выведет полное название команды (long_name), 
# количество матчей, в которых участвовала команда, — домашних и гостевых (matches_cnt). 
# Отсортируйте по количеству матчей в порядке возрастания, затем — по названию команды в алфавитном порядке.